.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:1000;

  background:transparent;
  transition:.3s ease;
}

.navbar__logo a{
  font-size:1.7rem;
  font-weight:700;
  color:var(--text);
  text-decoration:none;
}

.navbar__logo span{
  color:var(--primary);
}

.navbar__menu{
  display:flex;
  gap:2.5rem;
  list-style:none;
}

.navbar__menu a{
  text-decoration:none;
  color:var(--text-secondary);
  font-weight:500;
  transition:.3s;
}

.navbar__menu a:hover{
  color:var(--primary);
}

.navbar__actions{
  display:flex;
  gap:1.3rem;
}

.navbar__actions a{
  color:var(--text-secondary);
  font-size:1.35rem;
  transition:.3s;
}

.navbar__actions a:hover{
  color:var(--primary);
  transform:translateY(-2px);
}

.navbar--scrolled{
  background:rgba(11,11,15,.85);
  backdrop-filter:blur(12px);
  box-shadow:0 4px 20px rgba(0,0,0,.25);
}

@media(max-width:991px){

  .navbar{
    padding:20px 7%;
  }

  .navbar__menu{
    display:none;
  }

}